body {
  background-color: lightsteelblue;
  margin: 0;
text-align: center;

}

h1 {
  color: #808000;
  line-height: 2;
  font-size: 5.625rem;
  
  margin: 150px auto 0 auto;
  font-family: 'Indie Flower', cursive;

}

h3 {
  color: #FFA07A;
  text-align: center;

}

h2 {
  color: #66bfbf;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: normal;
  margin-bottom: 50px;
}

a {
  color: #FFA07A;
}

p {

  font-weight: 500;
line-height: 2;
}

.pro {
  text-align: center;
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 18.75rem;
  top: 4.375rem;
}

.middle-cloud {
  position: absolute;
  left: 15.625em;
  bottom: 12.5em;

}

.mountain {
  position: absolute;
  left: 400px;
  top: 420px;

}

.button {
  color: white;
  background-color: #11999e;
  ;
  border: solid 1px black;
  padding: 9px;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  border-radius: 15px;
font-family: 'Merriweather Sans', sans-serif;
  position: relative;

margin-bottom: 25px;
}
hr{
  border-style: dotted none none none;
  width: 4%;
  border-width: 5px;
  margin-top: 50px;
  margin-bottom: 75px;
  color: black;

}
.bottom-container {
  background-color: #708090;
  text-align: center;
  padding-top: 40px;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: white;

}

.user {
  padding-top: 50px;
  height: 150px;
  margin-top: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.footer-link {
  margin: auto 3px;
  text-decoration: none;
  font-size: 20px;

}
.footer-link:hover{
  background-color: turquoise;
}

.skill-row{
  line-height: 2;
text-align: left;
width: 50%;
  margin:  auto;


}
.computer{
  width: 25%;
  border-radius: 85px;
  float: left;
  margin-right: 30px;

}
.chillies{
  width: 25%;
  border-radius: 35px;
  float: right;
  margin-left: 30px;

}
.second-segment{
  margin-top: 75px;

}
